.overflow-hidden {
  overflow: hidden;
}

.list-group a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.main-content-open {
  margin-left: 300px;
}

.collapsed:not(.main-content-open) {
  transition-duration: 0.3s;
}

.main-content-open:not(.collapsed) {
  transition-duration: 0.3s; 
}

@media (max-width: 768px) {
  .main-content-open {
    margin-left: 0;
  }
}
