.overflow-hidden {
  overflow: hidden;
}

.list-group a:hover {
  background-color: #395886;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.list-group a.active {
  background-color: #395886;
  color: rgb(255, 255, 255);
  border-color: white;
}

.main-content-open {
  margin-left: 300px;
}

.collapsed:not(.main-content-open) {
  transition-duration: 0.5s;
}

.main-content-open:not(.collapsed) {
  transition-duration: 0.3s;
}

@media (max-width: 768px) {
  .main-content-open {
    margin-left: 0;
  }
}
body {
  margin: 0;
  padding: 0;
}
