
body {
    background-color: #000000; /* Set your desired background color here */
  }

  
.carousel-indicators {
    background-color: rgba(217, 216, 216, 0.841); /* Change this to your desired color */
    width: 1300px; /* Set the width */
    height: 100px; /* Set the height */
  }